<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.opensixen.osgi.interfaces.IModelValidator">
      <validator
            class="org.opensixen.acct.model.AllocationModelValidator">
      </validator>
   </extension>
   <extension
         point="org.opensixen.osgi.interfaces.IModelValidator">
      <validator
            class="org.opensixen.acct.model.BankStatementValidator">
      </validator>
   </extension>

</plugin>
