<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="OpensixenClient"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.opensixen.clientGUI.OpensixenGUI"
            name="OpensixenClient">
         <property
               name="appName"
               value="OpensixenClient">
         </property>
      </product>
   </extension>

</plugin>
